# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
env/

# Ignore local development settings
*.env

# Ignore database file
*.sqlite3

# Ignore media files
media/

# Ignore IDE files
.vscode/
.idea/

